<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pozafly.tripllo.boardHasLike.dao.BoardHasLikeDao">

    <insert id="createBoardHasLike" parameterType="Map">
        insert into board_has_like values (null, #{boardId}, #{userId})
    </insert>

    <delete id="deleteBoardHasLike" parameterType="Map">
        delete
            from board_has_like
        where board_id = #{boardId}
        and user_id = #{userId}
    </delete>

    <update id="updateBoardLikeCount" parameterType="Map">
        update board
        set like_count = #{likeCount}
        where id = #{boardId}
    </update>

</mapper>