<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pozafly.tripllo.card.dao.CardDao">

    <select id="readCard" parameterType="Long" resultType="com.pozafly.tripllo.card.model.Card">
        select * from card
        where id = #{cardId}
    </select>

    <insert id="createCard" parameterType="Map">
        insert into card values (null, #{listId}, #{title}, #{pos}, null, null, null, now(), #{userId}, null, null)
    </insert>

    <update id="updateCard" parameterType="Map">
        update card
        set
        <if test='listId != null and !"".equals(listId)'>
            list_id = #{listId},
        </if>
        <if test='title != null and !"".equals(title)'>
            title = #{title},
        </if>
        <if test='pos != null and !"".equals(pos)'>
            pos = #{pos},
        </if>
        <if test='description != null and !"".equals(description)'>
            description = #{description},
        </if>
        <if test='label_color != null and !"".equals(label_color)'>
            label_color = #{labelColor},
        </if>
        <if test='location != null and !"".equals(location)'>
            location = #{location},
        </if>
            updated_at = now(),
            updated_by = #{userId}
        where id = #{cardId}
    </update>

    <delete id="deleteCard" parameterType="Long">
        delete
        from card
        where id = #{cardId}
    </delete>

</mapper>