<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pozafly.tripllo.user.dao.UserDao">

    <select id="readUser" parameterType="String" resultType="com.pozafly.tripllo.user.model.User">
        select
        id,
        password,
        email,
        name,
        picture,
        social_yn,
        role,
        created_at,
        created_by,
        updated_at,
        updated_by
        from user
        where id = #{id}
    </select>

    <insert id="createUser" parameterType="com.pozafly.tripllo.user.model.response.UserApiResponse">
        insert into user
        values (#{id}, #{password}, #{email}, #{name}, #{picture}, #{socialYn}, 'USER', now(), #{id}, null, null)
    </insert>

    <update id="updateUser" parameterType="com.pozafly.tripllo.user.model.response.UserApiResponse">
        update user
        set
            password = #{password},
            email = #{email},
            name = #{name},
            picture = #{picture},
            social_yn = #{socialYn}
            updated_at = now(),
            updated_by = #{id}
        where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="String">
        delete from user
        where id = #{id}
    </delete>

</mapper>