<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pozafly.tripllo.user.dao.UserDao">

    <select id="readUser" parameterType="String" resultType="com.pozafly.tripllo.user.model.User">
        select
            *
        from user
        where id = #{id}
    </select>

    <select id="readIsInviteUser" parameterType="String" resultType="com.pozafly.tripllo.user.model.response.UserApiResponse">
        select
            id,
            email,
            name,
            picture
        from user
        where id like CONCAT('%', #{id}, '%')
    </select>

    <select id="readInvitedUser" parameterType="List" resultType="com.pozafly.tripllo.user.model.User">
        select
            id,
            picture
        from user
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="createUser" parameterType="com.pozafly.tripllo.user.model.response.UserApiResponse">
        insert into user
        values (#{id}, #{password}, #{email}, #{name}, #{picture}, #{social}, null, null, null, 'ROLE_USER', now(), #{id}, null, null)
    </insert>

    <update id="updateUser" parameterType="Map">
        update user
        set
            <if test='email != null and !"".equals(email)'>
                email = #{email},
            </if>
            <if test='name != null and !"".equals(name)'>
                name = #{name},
            </if>
            <if test='password != null and !"".equals(password)'>
                password = #{password},
            </if>
            <if test='picture != null and !"".equals(picture)'>
                picture = #{picture},
            </if>
            <if test='bio != null and !"".equals(bio)'>
                bio = #{bio},
            </if>
            <if test='recentBoard != null and !"".equals(recentBoard)'>
                recent_board = #{recentBoard},
            </if>
            <if test='invitedBoard != null and !"".equals(invitedBoard)'>
                invited_board = #{invitedBoard},
            </if>
            updated_at = now(),
            updated_by = #{id}
        where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="Map">
        delete from user
        where id = #{userId}
    </delete>

</mapper>